.media-body-text{
    border-radius: 25px;
    padding: 10px;
    width: fit-content;
    color: white;
}

.chat-head-white-item{
    color: white;
}

.background-image{
    background-size: 53px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
}

.ghost-mode > textarea {
    background-color: #333333;
    color: white;
}

.ant-mentions-dropdown-menu-item:hover {
    background-color: #333333;
    color: white;
}

.my-message{
    flex-direction: row-reverse;
    align-items: center;
    .media-body{
        flex: 0;
        min-width: max-content;
        padding-right: 20px;
        margin-left: 0px;
        .media-body-text{
            width: max-content;   
        }
    }
}

.ghost-message{
    .media-body-text{
        background-color: #333333 !important;
    }
}

.ant-mentions-dropdown-menu-item > span{
    margin: 5px 8px;
}

.ant-mentions-dropdown-menu-item{
    display: flex;
}