@import url(~antd/dist/antd.css);
.aside.minimize .sidebar-footer {
  display: none; }

.aside.minimize .aside-body {
  height: calc(100% - 59px); }

.aside .aside-body {
  height: calc(100% - 118px); }

.aside .sidebar-footer {
  display: flex;
  justify-content: space-between;
  flex: 1 1;
  padding: 10px 20px;
  border-top: 1px solid rgba(72, 94, 144, 0.16);
  border-right: 1px solid rgba(72, 94, 144, 0.16);
  background: #ffffff; }
  .aside .sidebar-footer .icon-wrapper .button-icon {
    color: white;
    background-color: #0168fa;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 9px;
    padding: 8px;
    border-radius: 100px; }

.RightSideBAr {
  background-color: #ffffff;
  width: 60px;
  border-left: 1px solid #e2e5ed;
  position: absolute;
  padding: 14px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000; }
  .RightSideBAr .btn-wrapper {
    position: relative;
    width: 30px;
    margin-bottom: 20px;
    height: 30px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
    transition: transform 150ms ease 0s; }
    .RightSideBAr .btn-wrapper .btn-rightbar {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center; }
      .RightSideBAr .btn-wrapper .btn-rightbar .fas {
        font-size: 19px;
        color: rgba(27, 46, 75, 0.65); }
    .RightSideBAr .btn-wrapper :hover {
      background-color: #cac9c9; }
      .RightSideBAr .btn-wrapper :hover .fas {
        font-size: 15px;
        color: white; }
    .RightSideBAr .btn-wrapper .active {
      width: 100%;
      height: 100%;
      background-color: #0168fa; }
      .RightSideBAr .btn-wrapper .active .fas {
        background-color: #0168fa;
        font-size: 15px;
        color: white; }

.drawer {
  height: 100%;
  width: 350px;
  position: absolute;
  top: 0px;
  right: 60px;
  z-index: 10000;
  background-color: #ffffff;
  border-left: 1px solid #e2e5ed;
  height: 100%; }
  .drawer h4 h6 {
    margin: 0px;
    padding: 0px;
    color: rgba(27, 46, 75, 0.65);
    display: inline; }
  .drawer p {
    margin: 0px;
    padding: 0px;
    color: rgba(27, 46, 75, 0.65); }
  .drawer ul {
    list-style-type: none;
    padding: 0px; }
  .drawer .get-started {
    background-color: #ffffff;
    border-left: 1px solid #e2e5ed;
    height: 100%;
    display: flex;
    flex-direction: column; }
    .drawer .get-started .head {
      padding: 15px; }
      .drawer .get-started .head h4 {
        margin: 0px;
        color: #77787a;
        font-size: 16px;
        font-weight: 500; }
    .drawer .get-started hr {
      margin: 0px; }
    .drawer .get-started .body {
      padding: 15px;
      flex: 1 1 100%; }
      .drawer .get-started .body .tracker {
        height: 5px;
        background: #f5f6fa;
        border-radius: 10px; }
        .drawer .get-started .body .tracker p {
          font-size: 12px;
          color: #9b9c9e; }
      .drawer .get-started .body .greetings {
        font-size: 18px;
        line-height: 27px;
        letter-spacing: -0.45px;
        margin: 60px 16px 16px; }
        .drawer .get-started .body .greetings h4 {
          color: #3e3e40;
          font-weight: 700; }
        .drawer .get-started .body .greetings p {
          color: #9b9c9e; }
      .drawer .get-started .body .guideCard {
        display: flex;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 16px;
        padding: 5px 10px;
        margin-top: 10px;
        align-content: center;
        height: 62px;
        background-color: white;
        border-radius: 16px;
        border-image: initial; }
        .drawer .get-started .body .guideCard .icon {
          align-self: center;
          width: 30px;
          height: 30px;
          color: white;
          background-color: #0168fa;
          display: flex;
          flex-direction: column;
          -webkit-box-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          align-items: center;
          overflow: hidden;
          border-radius: 15px; }
          .drawer .get-started .body .guideCard .icon svg {
            width: 16px; }
        .drawer .get-started .body .guideCard .text {
          display: flex;
          margin: 5px 10px;
          flex-direction: column;
          justify-content: center; }
          .drawer .get-started .body .guideCard .text h4 {
            align-self: end;
            color: #0168fa;
            font-size: 14px;
            font-weight: 600;
            display: inline-block;
            max-width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow-wrap: normal;
            overflow: hidden;
            margin-bottom: 0px; }
          .drawer .get-started .body .guideCard .text p {
            color: #77787a;
            font-size: 12px;
            display: inline-block;
            max-width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow-wrap: normal;
            overflow: hidden; }
      .drawer .get-started .body .taskDropdown {
        padding: 10px 20px; }
        .drawer .get-started .body .taskDropdown h6 {
          font-weight: 600;
          font-size: 12px;
          color: #9b9c9e; }
        .drawer .get-started .body .taskDropdown p {
          font-size: 14px;
          color: #9b9c9e; }
        .drawer .get-started .body .taskDropdown .line-through {
          text-decoration-line: line-through; }
    .drawer .get-started .footer {
      font-size: 12px;
      color: #77787a;
      height: 40px;
      width: 100%;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      padding: 0px 15px;
      text-transform: none; }
      .drawer .get-started .footer .footer-link-wrapper {
        display: flex;
        flex-direction: row;
        height: 25px;
        line-height: 25px;
        align-items: center; }
        .drawer .get-started .footer .footer-link-wrapper i {
          margin-right: 10px; }
  .drawer .contacts .head {
    padding: 15px; }
    .drawer .contacts .head h4 {
      margin: 0px;
      color: #77787a;
      font-size: 16px;
      font-weight: 500; }
  .drawer .contacts .body hr {
    margin: 0px; }
  .drawer .contacts .body .dropdown .dropdown-head {
    background: #f8f8f8;
    border-top: 1px solid #eee;
    border-left: 0;
    border-right: 0;
    height: 36px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex: 1;
    cursor: pointer; }
    .drawer .contacts .body .dropdown .dropdown-head .dropdown-title {
      margin: 0;
      padding: 0px 15px;
      border: 0;
      outline: 0;
      font-weight: inherit;
      font-style: inherit;
      font-family: inherit;
      font-size: 100%; }
      .drawer .contacts .body .dropdown .dropdown-head .dropdown-title .toggle-btn {
        display: inline;
        background: transparent;
        border: 0;
        margin: 0;
        padding: 0;
        border-radius: 0;
        height: 14px;
        width: 14px;
        background-repeat: no-repeat;
        background-size: 14px;
        background-position: 50%;
        margin-right: 8px; }
      .drawer .contacts .body .dropdown .dropdown-head .dropdown-title .dropdown-counter {
        padding-left: 2px;
        font-weight: 400;
        color: #9b9c9e; }
    .drawer .contacts .body .dropdown .dropdown-head .dropdown-action {
      padding: 8px 20px;
      font-weight: 600;
      font-size: 13px;
      color: #367fee; }
  .drawer .contacts .body .dropdown .dropdown-body .overview {
    border-top: 1px solid #eee;
    background: #fff; }
    .drawer .contacts .body .dropdown .dropdown-body .overview .image {
      padding-top: 50px;
      display: flex;
      justify-content: center;
      align-content: center; }
      .drawer .contacts .body .dropdown .dropdown-body .overview .image img {
        width: 60px;
        height: 60px;
        border-radius: 25px;
        background-size: cover;
        background-position: 50%;
        margin: 0 auto;
        margin-bottom: 10px;
        position: relative; }
    .drawer .contacts .body .dropdown .dropdown-body .overview .email-wrapper {
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      list-style-type: none;
      margin: 24px 26px; }
      .drawer .contacts .body .dropdown .dropdown-body .overview .email-wrapper .label {
        font-weight: 700;
        font-size: 10px;
        color: #c7c7c7;
        margin-bottom: 3px;
        text-transform: uppercase; }
      .drawer .contacts .body .dropdown .dropdown-body .overview .email-wrapper .email {
        color: black; }
  .drawer .contacts .body .dropdown .dropdown-body .card {
    border-bottom: 1px solid #f0f0f0;
    background: #fff;
    padding: 10px 20px; }
    .drawer .contacts .body .dropdown .dropdown-body .card .card-head {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .drawer .contacts .body .dropdown .dropdown-body .card .card-head .avatar {
        width: 18px;
        height: 18px;
        background: #fff;
        border-radius: 50%;
        background-size: cover;
        background-position: 50%;
        margin-right: 8px; }
      .drawer .contacts .body .dropdown .dropdown-body .card .card-head .user-name {
        flex: 1;
        margin: 0px;
        font-weight: 600;
        font-size: 13px;
        color: #303133;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .drawer .contacts .body .dropdown .dropdown-body .card .card-head .more {
        display: inline-block;
        width: 16px;
        height: 16px;
        position: relative;
        margin-right: 10px;
        margin-bottom: 1px;
        color: #bcbcbc;
        transition: color .3s ease,opacity .3s ease; }
      .drawer .contacts .body .dropdown .dropdown-body .card .card-head .card-time {
        font-size: 10px;
        font-weight: 500;
        color: #c7c7c7;
        text-transform: uppercase; }
    .drawer .contacts .body .dropdown .dropdown-body .card .card-content {
      font-size: 13px;
      line-height: 1.5;
      color: #303133;
      margin-top: 4px; }
      .drawer .contacts .body .dropdown .dropdown-body .card .card-content .ant-input {
        border: none;
        padding: 0px;
        background: #fff;
        min-height: 60px;
        font-size: 14px;
        line-height: 1.5;
        color: #212121;
        outline: 0; }
      .drawer .contacts .body .dropdown .dropdown-body .card .card-content .ant-input:focus {
        border: none;
        box-shadow: none; }
      .drawer .contacts .body .dropdown .dropdown-body .card .card-content .ant-btn-primary {
        width: 100%; }
  .drawer .contacts .body .dropdown .dropdown-body .edit-from {
    padding: 15px; }
    .drawer .contacts .body .dropdown .dropdown-body .edit-from .image-input-wrapper {
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 15px 0px; }
      .drawer .contacts .body .dropdown .dropdown-body .edit-from .image-input-wrapper .imagelabel {
        background-color: #9b9c9e;
        border-radius: 50%;
        display: inline-block;
        padding: 16px 24px;
        cursor: pointer; }
        .drawer .contacts .body .dropdown .dropdown-body .edit-from .image-input-wrapper .imagelabel .imageinput {
          display: none; }
    .drawer .contacts .body .dropdown .dropdown-body .edit-from .ant-btn {
      margin-top: 10px;
      width: 100%; }
    .drawer .contacts .body .dropdown .dropdown-body .edit-from .input-wrapper {
      display: inline-block;
      border: 1px solid #c1c1c1;
      border-radius: 5px;
      width: 100%;
      font-size: 15px;
      color: #212121;
      background: #fff;
      margin-top: 10px;
      padding: 5px 10px; }
      .drawer .contacts .body .dropdown .dropdown-body .edit-from .input-wrapper .input {
        padding: 0px;
        outline: none;
        border: none;
        display: block;
        height: 16px; }
      .drawer .contacts .body .dropdown .dropdown-body .edit-from .input-wrapper .input:focus {
        border: none;
        box-shadow: none; }
      .drawer .contacts .body .dropdown .dropdown-body .edit-from .input-wrapper .inputlabel {
        display: block;
        font-size: 9px;
        margin: 0px;
        color: #c1c1c1;
        font-weight: 500px;
        text-transform: uppercase; }
  .drawer .calendar .head {
    padding: 15px; }
    .drawer .calendar .head h4 {
      margin: 0px;
      color: #77787a;
      font-size: 16px;
      font-weight: 500; }
  .drawer .calendar hr {
    margin: 0px; }
  .drawer .calendar .body {
    padding: 15px; }
    .drawer .calendar .body p {
      color: #7b8994;
      font-size: 15px; }
    .drawer .calendar .body .btn-wapper {
      margin: 10px 0px;
      display: flex;
      flex-direction: column; }
      .drawer .calendar .body .btn-wapper .ant-btn {
        margin: 10px 0px;
        background-color: #ffff;
        border: 1px solid #e8eaed;
        border-radius: 15px; }
        .drawer .calendar .body .btn-wapper .ant-btn i {
          float: left; }
      .drawer .calendar .body .btn-wapper .blue-text {
        color: blue; }
      .drawer .calendar .body .btn-wapper .red-text {
        color: red; }
    .drawer .calendar .body .subtitle .questions p {
      display: inline; }
    .drawer .calendar .body .subtitle .link {
      color: #77787a;
      text-decoration: underline; }
    .drawer .calendar .body .subtitle .policy i {
      font-size: 5px;
      padding: 0px 5px; }
  .drawer .shortcuts {
    background-color: #ffffff;
    border-left: 1px solid #e2e5ed;
    height: 100%; }
    .drawer .shortcuts .head {
      padding: 15px; }
      .drawer .shortcuts .head h4 {
        margin: 0px;
        color: #77787a;
        font-size: 16px;
        font-weight: 500; }
    .drawer .shortcuts hr {
      margin: 0px; }
    .drawer .shortcuts .body {
      padding: 15px; }
      .drawer .shortcuts .body h4 {
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        color: #bdbdbd;
        letter-spacing: 0.1em;
        line-height: 2;
        margin: 0px;
        padding: 0px; }
      .drawer .shortcuts .body .shortcut {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #bdbdbd;
        margin-bottom: 10px; }
        .drawer .shortcuts .body .shortcut .shortcut-title {
          font-size: 12px;
          color: black;
          align-items: center;
          display: flex; }
        .drawer .shortcuts .body .shortcut .keyMarkUp {
          border: 1px solid #bdbdbd;
          padding: 5px;
          border-radius: 6px;
          margin-bottom: 8px; }
          .drawer .shortcuts .body .shortcut .keyMarkUp p {
            font-size: 12px;
            color: black; }
  .drawer .integration {
    background-color: #ffffff;
    border-left: 1px solid #e2e5ed;
    height: auto;
    min-height: 100%; }
    .drawer .integration .head {
      padding: 15px; }
      .drawer .integration .head .title {
        margin: 0px;
        color: #77787a;
        font-size: 16px;
        font-weight: 500; }
      .drawer .integration .head .search {
        margin-top: 15px; }
        .drawer .integration .head .search .search-input {
          border: 1px solid grey;
          border-radius: 6px;
          width: 100%;
          padding: 4px 9px; }
    .drawer .integration hr {
      margin: 0px; }
    .drawer .integration .body {
      padding: 15px; }
      .drawer .integration .body .card {
        display: flex;
        flex-direction: row;
        padding: 15px;
        align-items: center;
        margin-bottom: 10px;
        height: 62px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px;
        border-radius: 16px; }
        .drawer .integration .body .card .icon-wrapper {
          align-self: center;
          display: flex;
          flex-direction: column;
          -webkit-box-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          align-items: center;
          color: white;
          background-color: #0168fa;
          padding: 5px;
          border-radius: 15px; }
          .drawer .integration .body .card .icon-wrapper i {
            font-size: 17px;
            margin: 3px; }
        .drawer .integration .body .card .text {
          flex: 1;
          padding-left: 15px; }
        .drawer .integration .body .card .pin {
          color: #367fee;
          padding: 5px;
          border-radius: 50%; }
      .drawer .integration .body .add-new .add-new-head {
        margin: 15px 0px;
        display: flex; }
        .drawer .integration .body .add-new .add-new-head p {
          flex: 1;
          display: inline; }
        .drawer .integration .body .add-new .add-new-head .link {
          color: #367fee;
          margin-right: 5px; }

.react-calendar {
  border: none !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important; }
  .react-calendar .react-calendar__month-view__weekdays__weekday > abbr {
    text-decoration: none !important; }
  .react-calendar .react-calendar__month-view__days__day--weekend {
    color: grey; }

.fc-scroller {
  height: 440px !important; }
  .fc-scroller .react-calendar__month-view__days__day--weekend {
    color: #757575 !important; }

.visible2 {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
  position: relative !important;
  top: initial !important;
  left: initial !important;
  right: initial !important;
  bottom: initial !important;
  overflow: auto !important;
  z-index: 9999 !important;
  /*border: 3px solid tan !important;*/
  box-shadow: 0 0 0 3px inset tan !important; }

.visible3 {
  display: block !important;
  visibility: visible !important;
  position: relative !important;
  top: 55px !important;
  left: initial !important;
  right: initial !important;
  bottom: initial !important;
  z-index: 9999 !important;
  width: 100%; }

.visible3 .calendar-sidebar-header {
  display: none; }

.content-body > .calendar-sidebar.revealCal {
  display: block !important;
  visibility: visible !important;
  position: relative !important;
  top: 55px !important;
  left: initial !important;
  right: initial !important;
  bottom: initial !important;
  z-index: 9999 !important;
  width: 100%; }

.content-body > .calendar-sidebar.revealCal #calendarSidebarBody {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
  position: relative !important;
  top: 37px !important;
  left: initial !important;
  right: initial !important;
  bottom: initial !important;
  overflow: auto !important;
  z-index: 9999 !important; }

.revealFullCalBtn {
  display: none; }

@media (max-width: 500px) {
  .revealFullCalBtn {
    display: inline-block;
    margin: 0px 16px !important;
    font-size: 21px; } }

.chat-sidebar .chat-sidebar-buttons {
  display: flex;
  background: #e5e9f2;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 15px; }
  .chat-sidebar .chat-sidebar-buttons .ant-btn {
    margin: 0px 5px;
    width: 100%;
    background: #e5e9f2;
    border: none; }
    .chat-sidebar .chat-sidebar-buttons .ant-btn:after {
      animation: 0s !important; }
    .chat-sidebar .chat-sidebar-buttons .ant-btn:hover {
      background: white;
      color: grey; }

.chat-content .media {
  display: flex;
  align-items: center; }
  .chat-content .media .media-body {
    margin-left: 10px; }
    .chat-content .media .media-body .media-body-text {
      border-radius: 25px;
      width: fit-content;
      color: white;
      padding: 5px 13px; }
  .chat-content .media .avatar-sm {
    width: 28px;
    height: 28px; }

.chat-content .chat-head-white-item {
  color: white; }

.chat-content .background-image {
  background-size: 180px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: center; }

.chat-content .facebook, .chat-content .webchat {
  background-size: 80px; }

.chat-content .ghost-mode > textarea {
  background-color: #333333;
  color: white; }

.chat-content .ant-mentions-dropdown-menu-item:hover {
  background-color: #333333;
  color: white; }

.chat-content .my-message {
  flex-direction: row-reverse;
  align-items: center; }
  .chat-content .my-message .media-body {
    flex: 0;
    min-width: max-content;
    margin-left: 0px; }
    .chat-content .my-message .media-body .media-body-text {
      width: max-content; }

.chat-content .ghost-message .media-body-text {
  background-color: #333333 !important; }

.chat-content .ant-mentions-dropdown-menu-item > span {
  margin: 5px 8px; }

.chat-content .ant-mentions-dropdown-menu-item {
  display: flex; }

@media (max-width: 1224px) {
  .right-bar-toggle-btn {
    display: none; } }
